.container {

	width: 100%;
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: 0;
  	margin-left: 0;
}

.row {
	margin-bottom: 15px;
}
.row > div {
	border: 2px solid red;
	background-color: gray;

}
